#chapo {
  height: 100%;
  width: 70%;
  border-radius: 25px
}

ul {
  list-style-type: none;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/services/home.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  top: 80px;
}



.chapo-container {
  background-color: #598392
}

.banner {
  background: url(../img/services/other.png) no-repeat center center;
}

.base {
  height: 180px;
  width: 100%;

}

.project-center {
  margin-left: -30px
}

img {
  max-width:100%;
  height:262px
}

#david
{
  max-width:100%;
  height:262px
}

#about {
  background-image: url(../img/services/confectionary.png);
}

body {
  background-image: url(../img/services/confectionary.png);
}

#break {
  margin-top: 50px
}

#question {
width: 80%;
height:262px;

}

img.icons {
  width: 100%;
  height: 146px
}
