        
          <div class="container">
            <div class="row">
              <h1 class="text-center">Projects</h1>
              <div class="col-md-4 col-centered">
                <div class="thumbnail">
                  <img id="david" src="/img/services/maras-in-prison.jpg"  class="base">
                  <div class="caption">
                    <h3>Escape</h3>
                    <p>An Object orientated Javascript code breaking game </p>
                <p><a href="https://bibliotheque-monsieur-1632.herokuapp.com" class="btn btn-primary" role="button">View the Site</a> <a href="https://github.com/marcusps11/Cowz-bulls" class="btn btn-default" role="button">View the Code</a></p>
                  </div>
                </div>
              </div>


              <div class="col-md-4 col-centered">
                <div class="thumbnail">
                  <a href="https://blooming-citadel-6478.herokuapp.com"><img id="david" src="/img/services/baseee.jpg" class="base"></a>
                  <div class="caption">
                    <h3>Extreme Advisor</h3>
                    <p>A bucket list website built in nodeJS.</p>
                   <p><a href="https://blooming-citadel-6478.herokuapp.com" class="btn btn-primary" role="button">View the Site</a> <a href="https://github.com/gabriel-iac/buckets" class="btn btn-default" role="button">View the Code</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-centered">
                <div class="thumbnail">
                  <a href="https://blooming-citadel-6478.herokuapp.com"><img id="david" src="/img/services/seadavid.jpg" class="base"></a>
                  <div class="caption">
                    <h3>Face Hoff</h3>
                    <p>A placeholder site for images of David Hasselhoff</p>
                   <p><a href="https://facehoff.herokuapp.com" class="btn btn-primary" role="button">View the Site</a> <a href="https://github.com/marcusps11/facehoff" class="btn btn-default" role="button">View the Code</a></p>
                  </div>
                </div>
              </div>
              </div>
                <div class="row">
              <div class="col-md-4 col-centered">
                <div class="thumbnail">
                  <img id="david" src="/img/services/ibiza.jpg" alt="...">
                  <div class="caption">
                    <h3>Ibiza</h3>
                    <p>A Ruby on Rails project which is a Resident Advisor site for Ibiza.</p>
                    <p><a href="https://aqueous-beach-6587.herokuapp.com" class="btn btn-primary" role="button">View the Site</a> <a href="https://github.com/marcusps11/indaclub" class="btn btn-default" role="button">View the Code</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-centered">
                <div class="thumbnail">
                  <img id="david" src="/img/services/nextroom.png" alt="...">
                  <div class="caption">
                    <h3>Next Room</h3>
                    <p>A Node backend and Angular front end using the Yelp API.</p>
                 <p><a href="#" class="btn btn-primary" role="button">View the Site</a> <a href="https://github.com/marcusps11/flicks" class="btn btn-default" role="button">View the Code</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-centered">
                <div class="thumbnail">
                  <a href="https://blooming-citadel-6478.herokuapp.com"><img src="/img/services/baseee.jpg" class="base"></a>
                  <div class="caption">
                    <h3>Instagram Clone</h3>
                    <p>Coming soon..</p>
                   <p><a href="" class="btn btn-primary" role="button">View the Site</a> <a href="#" class="btn btn-default" role="button">View the Code</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </section>
