    <!-- About Section -->
    <section id="services" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h3>Projects</h3>
              <br/>
                <p>
I’m a London based web developer passionate about all things digital.  Previously to this I spent two years in a sales role before taking what I learnt there and applying my knowledge to digital products.  I spent two years at 1ROOF a london based startup growing the website traffic by 60%. </p>

<p> Frustrated by not being able to work fast enough due to technical limitation I decided to attend the General Assembly Web Development program</p>


              </div>
        </div>
    </section>
