<div class="container" id="services">
<div class="row">
<h1 class="text-center">Skills</h1>
  <div class="col-md-3">
    <div class="thumbnail">
      <img class='icons' src="/img/services/angular.png" alt="...">
      <div class="caption">
        <h3>Angular</h3>
      
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="thumbnail">
      <img class='icons' src="/img/services/node.png" alt="...">
      <div class="caption">
        <h3>NodeJs</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
      <img class='icons' src="/img/services/rubyrails.png" alt="...">
      <div class="caption">
        <h3>Ruby on Rails</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img class='icons' src="/img/services/js.png" alt="...">
      <div class="caption">
        <h3>HTML, CSS & JS</h3>
      </div>
    </div>
  </div>
</div>
</div>


